@use '../../core/base/global';
@use '../../core/base/radius';
@use '../../core/abstracts/cover' as *;

.inf-button {
  @extend .inf-base;
  @extend .inf-radius;

  @include inf-cover(var(--inf-c-hover-light));

  // Misc
  cursor: pointer;
  display: block;

  // Size
  width: auto;
  height: 2rem;
  min-width: 4rem;

  // Box
  padding: 0 16px;
  margin: 4px;

  // Text
  font-weight: 500;

  // Color
  color: var(--inf-solid-w);
  background-color: var(--inf-acc);

  &-plain {
    @include inf-cover(var(--inf-c-hover));

    // Color
    color: var(--inf-f);
    background-color: transparent;
  }

  &-mini {
    // Box
    padding: 8px;
    margin: 8px 14px;

    // Text
    font-weight: 500;
  }
}

.inf-link {
  @extend .inf-button-plain;
  @extend .inf-button-mini;

  // Misc
  display: inline;

  // Box
  padding: 0;
  margin: 0;

  // Color
  color: var(--inf-acc-dd);
}
