@use '../../core/base/global';
@use '../../core/base/radius';
@use '../../core/abstracts/cover' as *;

.inf-button {
  @extend .inf-base;
  @extend .inf-radius;

  @include inf-cover(var(--inf-c-hover-light));

  cursor: pointer;

  // Size
  width: auto;
  height: 2rem;
  min-width: 4rem;

  // Box
  padding: 0 1rem;
  margin: 4px;

  // Text
  line-height: 1rem;
  font-weight: 500;

  // Color
  color: var(--inf-solid-w);
  background-color: var(--inf-acc);

  &-plain {
    @include inf-cover(var(--inf-c-hover));

    // Color
    color: var(--inf-f);
    background-color: transparent;
  }
}

.inf-link {
  @extend .inf-button-plain;

  @include inf-cover(var(--inf-c-hover));

  // Box
  padding: 0;
  margin: 0;

  // Text
  font-weight: 500;

  // Color
  color: var(--inf-acc-dd);
}
