:root {
  --inf-acc-val: 230;

  // Solid
  --inf-solid-w: hsl(var(--inf-acc-val), 0%, 100%);
  --inf-solid-ww: hsl(var(--inf-acc-val), 40%, 90%);
  --inf-solid-www: hsl(var(--inf-acc-val), 45%, 85%);
  --inf-solid-b: hsl(var(--inf-acc-val), 0%, 0%);
  --inf-solid-bb: hsl(var(--inf-acc-val), 10%, 50%);
  --inf-solid-bbb: hsl(var(--inf-acc-val), 15%, 50%);

  // Background
  --inf-b: var(--inf-solid-w);
  --inf-bb: var(--inf-solid-ww);
  --inf-bbb: var(--inf-solid-www);

  // Accent
  --inf-acc-ddd: hsl(var(--inf-acc-val), 80%, 30%);
  --inf-acc-dd: hsl(var(--inf-acc-val), 75%, 40%);
  --inf-acc-d: hsl(var(--inf-acc-val), 65%, 50%);
  --inf-acc: hsl(var(--inf-acc-val), 90%, 60%);
  --inf-acc-l: hsl(var(--inf-acc-val), 95%, 70%);
  --inf-acc-ll: hsl(var(--inf-acc-val), 90%, 80%);
  --inf-acc-lll: hsl(var(--inf-acc-val), 100%, 90%);

  // Foreground
  --inf-f: var(--inf-solid-b);
  --inf-ff: var(--inf-solid-bb);
  --inf-fff: var(--inf-solid-bbb);

  // Hover
  --inf-c-hover: #ffffff80;

  // Border
  --inf-border-radius: 2px;
}
