:root.inf-dark {
  // Solid
  --inf-solid-w: hsl(var(--inf-acc-val), 0%, 98%);
  --inf-solid-ww: hsl(var(--inf-acc-val), 40%, 93%);
  --inf-solid-www: hsl(var(--inf-acc-val), 45%, 88%);
  --inf-solid-b: hsl(var(--inf-acc-val), 50%, 6%);
  --inf-solid-bb: hsl(var(--inf-acc-val), 35%, 15%);
  --inf-solid-bbb: hsl(var(--inf-acc-val), 38%, 25%);

  // Background
  --inf-b: var(--inf-solid-b);
  --inf-bb: var(--inf-solid-bb);
  --inf-bbb: var(--inf-solid-bbb);

  // Accent
  --inf-acc-ddd: hsl(var(--inf-acc-val), 100%, 90%);
  --inf-acc-dd: hsl(var(--inf-acc-val), 90%, 80%);
  --inf-acc-d: hsl(var(--inf-acc-val), 95%, 70%);
  --inf-acc-l: hsl(var(--inf-acc-val), 65%, 50%);
  --inf-acc-ll: hsl(var(--inf-acc-val), 75%, 40%);
  --inf-acc-lll: hsl(var(--inf-acc-val), 80%, 30%);

  // Foreground
  --inf-f: var(--inf-solid-w);
  --inf-ff: var(--inf-solid-ww);
  --inf-fff: var(--inf-solid-www);

  // Hover
  --inf-c-hover: #ffffff80;
}
