:root {
  // Background
  --inf-b: #fff;
  --inf-b-p: #eedff2;

  // Accent
  --inf-acc-ddd: #6c0d80;
  --inf-acc-dd: #991bb3;
  --inf-acc-d: #c10be6;
  --inf-acc: #d431f5;
  --inf-acc-l: #e164fa;
  --inf-acc-ll: #e996fa;
  --inf-acc-lll: #f4bfff;

  // Foreground
  --inf-f: #000;
  --inf-f-p: #767c82;
}
