.inf-flex {
  display: flex;
  position: relative;
}

.inf-flex-column {
  @extend .inf-flex;
  flex-direction: column;
}

.inf-align-start {
  align-items: flex-start;
}

.inf-align-center {
  align-items: center;
}

.inf-align-end {
  align-items: flex-end;
}

.inf-align-stretch {
  align-items: stretch;
}

.inf-justify-start {
  justify-content: flex-start;
}

.inf-justify-center {
  justify-content: center;
}

.inf-justify-end {
  justify-content: flex-end;
}

.inf-justify-stretch {
  justify-content: stretch;
}
