/// Set hover cover using ::before.
///
/// @param {Color} $color - The color of the hover.
@mixin inf-cover($color) {
  &::before {
    @extend .inf-radius;

    // Misc
    content: '';

    // Position
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // Transitions
    transition: background-color 0.1s ease;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &:hover::before {
    background-color: $color;
  }

  &:active::before {
    background-color: transparent;
  }
}
