@use '../../core/base/global';
@use '../../core/base/flex';

.inf-header {
  @extend .inf-base;

  // Flex
  @extend .inf-flex;
  @extend .inf-align-center;
  flex: 0 0 auto;

  // Box
  padding: 16px;
  margin: 0;
}
